h1{
    font-size: 1.3rem;
    font-weight: 550;
    text-align: center;
}

h2{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

ul{
    margin: 20px;

    li{
        margin: 20px;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
    }
}

a{
    text-decoration: none;
    color: white;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}